[build]
  publish = "."
  command = "echo 'No build required'"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  port = 3010